body{
    margin: -8px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
.navbar a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    float: left;
    text-align: center;
    display: block;
    width: 25%;
    padding: 10px 20px;
    text-transform: uppercase;
}

.navbar a.active{
    background-color: green;
    color: black;
}

a:hover{
    background-color: grey;
    color: black;
}

.navbar a.selected{
    background-color: grey;
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
.navbar .icon{
    display: none;
}

